/platforms/android/CordovaLib/bin
/platforms/android/CordovaLib/gen
/platforms/android/CordovaLib/xwalk_core_library/bin
/platforms/android/CordovaLib/xwalk_core_library/gen
/platforms/android/bin
/platforms/android/gen
